# extends "base_layout.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='create_tournament.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='create.js') }}"></script> 
<script type="text/javascript">
$(document).ready(
	function()
	{
		setGeneralTournamentPageLink("{{ url_for("tournament_view", id=0) }}");
		setMaxTournamentRunCount({{ run_count_max }});
	}
);
</script>
# endblock

# block contents
	<h1>New Tournament <small>Create a new tournament with user-defined settings.</small></h1>
	## Select the tournament type first, this is by default the only and first active widget.
	<div class="selbox-con">
	<div class="headtab"><span>Type</span></div>
	<div id="choose_type" class="container selbox selbox-info">
		<h2>Choose the tournament type first</h2>
		# for type in types
			<div id="{{ "type_"~type.id }}" class="btn btn-default type-button" onclick="javascript:onTypeChosen({{ type.id }})">
				<div class="type-buttonimage"><img src="{{ url_for('static', filename='img/icons/'~type.icon) }}" width="64px"></img></div>
				<div class="type-buttontext"><span class="h3 text-center">{{ type.name }}<br/><small>{{ type.description }}</small></span></div>
			</div>
		# endfor
	</div>
	</div>
	
	## When a tournament type was set, the remaining data can be fetched, first the rule stuff.
	
	## The actual rule selection dialog (not shown on page-load).
	<div id="rule_selection_dialog" style="display:none">
	<table class="table table-hover tablesorter-green">
	</table></div>
	## The rule selection widget.
	<div class="selbox-con" style="display:none">
	<div class="headtab"><span>Rules</span></div>
	<div id="choose_rules" class="container selbox selbox-info">
		<div class="headpart"><h2>Choose the active rules</h2>
		<div id="add_rule_button" class="btn btn-default" style="margin-bottom:20px;" onclick="javascript:showRuleSelectionDialog();">Add Rule</div>
		<div id="end_rule_selection_button" class="btn btn-default" style="margin-bottom:20px;" onclick="javascript:endRuleSelection();">End Rule Selection</div>
		</div>
		<table id="rules" class="table table-hover tablesorter-green">
		<thead><tr><th>Relative Weight</th><th>Rule Name</th><th>Description</th></tr></thead>
		</table>
	</div>
	</div>
	
	## Now that the rules are known, the teams have been fetched with the correct rule data.
	## The user can now customize the team setup and scores for THIS tournament.
	
	## The actual selection dialog (not shown on page-load).
	<div id="team_selection_dialog" style="display:none">
	<table class="table table-hover tablesorter-green">
	</table></div>
	
	<div class="selbox-con" style="display:none">
	<div class="headtab"><span>Teams</span></div>
	<div id="choose_teams" class="container selbox selbox-info">
		<div class="headpart"><h2>Customize the teams</h2>
		<div id="end_team_selection_button" class="btn btn-default" style="margin-bottom:20px;" onclick="javascript:endTeamSelection();">End Team Selection</div>
		</div>
		<table id="teams" class="table table-hover tablesorter-green">
		## The columns are not known at this point. They will be added via JS later.
		</table>
	</div>
	</div>
	
	## User confirmation before starting the tournament.
	<div class="selbox-con" style="display:none">
	<div class="headtab"><span>Run</span></div>
	<div id="finish_setup" class="container selbox selbox-info">
		<div class="headpart"><h2>You are done with the setup!<br><small>This will simulate the complete tournament with your custom rules {{ run_count_max }} times.</small></h2>
		<div style="text-align:left;">Simulations: <input value="{{ run_count_max }}" id="run_count_par" class="rule_parameter" data-type_id="{{ run_count_par.id }}"></div>
		<div class="btn btn-default" style="margin-bottom:20px;" onclick="javascript:startTournament();">Start the Tournament Simulation</div>
		</div>
		<div id="goto_tournament" style="display:none;"><div class="info small"></div></div>
		<div id="starting_progressbar" style="width:100%;display:none;"></div>
	</div>
	</div>
# endblock