# extends "base_layout.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='create_tournament.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='create_simple.js') }}"></script>
<script type="text/javascript">
$(document).ready(
	function()
	{
		setGeneralTournamentPageLink("{{ url_for("tournament_view", id=0) }}");
		setSelectedTournamentTypeID({{ tournament_type.id }});
		setMaxTournamentRunCount({{ run_count_max }});
	}
);
</script>
# endblock

# block contents
	<h1>New World Cup Run<small></small></h1>

	<div id="rule_selection_dialog">
	<table class="table table-hover tablesorter-green">
	</table></div>
	## The rule selection widget.
	<div class="selbox-con selbox-con-ok">
	<div class="headtab"><span style="margin-top:6em;">New&nbsp;Tournament</span></div>
	<div id="choose_rules" class="container selbox selbox-ok" style="pointer-events: auto;padding-bottom:0px;">
		<div class="headpart"><h2>Customize the rules<br><small>You can customize the weights of the different ranking rules and define how much influence they will have on the simulation.</small></h2>
		</div>
		## the radar chart
		<div class="row-fluid full">
		<div class="col-xs-12 col-md-3" style="min-width:300px;text-align:center;">
		<canvas id="rulecanvas" width="300" height="300"></canvas>
		## the start-tournament button below
		<div id="finish_setup" style="margin-top:-2em">
		<div class="headpart">
			## the run count selection
			<div style="text-align:left;">Simulations: <input value="{{ run_count_max }}" id="run_count_par" class="rule_parameter" data-type_id="{{ run_count_par.id }}"><small style="display:none;" class="error"><br>Must be between 1 and {{ run_count_max }}!</small></div>
			<div class="btn btn-success btn-lg" style="margin-bottom:1em;margin-top:0.5em;width:100%;" onclick="javascript:if (validateRuleSelection()) startTournament();">Start the Simulations</div>
		</div>
		<div id="goto_tournament" style="display:none;"><div class="info small"></div></div>
		<div id="starting_progressbar" style="width:100%;display:none;"></div>
		</div>
		</div>
		
		<div class="col-xs-12 col-md-8">
			<table id="rules" class="table table-hover">
			<tbody>
			# for rule in rules
				<tr class="rule_row" id="rule_row_{{ rule.id }}" {% if rule.needs_custom_ratings %}style="display:none;"{% endif %}>
					<td class="ruletitle" style="background-image:url('');">
					<div class="background"><img src="{{ url_for('static', filename='img/rules/RuleBackground' ~ rule.name ~ '.png') }}"></div>
					<div class="ruletitle">
					<h5 style="padding:0px;margin:0px;"><strong>{{ rule.long_name }}</strong>
					<br><small>{{ rule.description }}</small></h5>
					</div></td>
					
					<td class="input">
					<input width="30" value="{{ rule.standard_weight }}" name="{{ rule.id }}" title="{{ rule.name }}">
					# if rule.needs_custom_ratings
					<span class="btn btn-primary" onclick="javascript:showCustomTeamRatingsDialog({{ rule.id }});">adjust team ratings</span>
					# endif
					</td>
					
				</tr>
				# if rule.needs_custom_ratings
				<tr class="rule_show" id="custom_show_{{ rule.id }}">
					<td>&nbsp;</td>
					<td align="right"><span class="btn btn-primary" onclick="javascript:showCustomRule({{ rule.id }});">add custom rule</span></td>
				</tr>
				# endif
			# endfor
			</tbody>
			</table>
			
			<table class="table table-hover"><tbody>
			## add the indicator to use already played matches below the rules
			<tr class="custom_par_row">
				<td>
				<input type="checkbox" id="use_match_database" class="rule_parameter" title="Use Real Data" value="1" data-type_id="{{ use_match_db_par.id }}" name="Test" checked><label for="use_match_database">
				<div class="ruletitle"><h5 style="padding:0px;margin:0px;"><strong>Use already played matches</strong><br>
				<small>Instead of simulating the matches that have already been played, use the real data.</small>
				</h5></div>
				</label></td>
				<td align="right"><span class="btn btn-primary" onclick="javascript:showPlayedMatches();">info</span></td>
			</tr>
			</tbody>
			</table>
		</div>
		</div>
	</div>
	</div>
	
	## this can be expanded at will and then be filled with the already played matches
	<div class="selbox-con selbox-con-ok" id="show_matches" style="display:none;">
	<div class="headtab"><span>Matches</span></div>
	<div class="container selbox selbox-info">
	<h2><small>The simulation will use the following match results:</small></h2>
	<table class="table table-hover tablesorter-green">
	</table>
	<div class="spacer"><img src="static/img/loader.gif"></div>
	</div>
	</div>
	
	## Teams will exist but will be hidden, this helps a streamlined creation API
	<div id="team_selection_dialog" style="display:none">
	<table class="table table-hover tablesorter-green">
	</table></div>
	
	<div class="selbox-con selbox-con-ok" id="choose_teams_con" style="display:none;">
	<div class="headtab"><span>Teams</span></div>
	<div id="choose_teams" class="container selbox selbox-info">
		<div>
		<h2>Setup Custom Ratings<br><small>This is for advanced users who want to try out an own rating strategy.</small></h2>
		<table style="width:100%"><tr>
		<td style="width:300px;"><canvas id="customfunctioncanvas" width="300" height="300" style="float:left;"></canvas></td>
		<td style="vertical-align:middle;text-align:left;">
		Please choose a normalization constant that will be used to calculate the win expectancy of two opposing teams.
		<div style="width:100%; background-color:#f0f0ff;padding:0.5em;">
		<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
		<mstyle>
			<mtext>win expectancy</mtext>
			<mo>=</mo>
			<mrow>
				<mfrac>
				<mrow><mn>1</mn></mrow>
				<mrow>
					<mn>1</mn>
					<mo>+</mo>
					<msup>
						<mi>e</mi>
						<mrow><mo>-</mo>
						<mfrac>
							<mrow>
								<msub><mtext>rating</mtext><mn>1</mn></msub>
									<mo>-</mo>
								<msub><mtext>rating</mtext><mn>2</mn></msub>
							</mrow>
							<mrow>
							<mi>c</mi>
							</mrow>
						</mfrac></mrow>
					</msup>
	
				</mrow>
				</mfrac>
			</mrow>
		</mstyle>
		</math>
		</div>
		with c = <input value="10" id="custom_rule_constant" class="rule_parameter" data-type_id="{{ custom_score_rule['par_type'] }}">
		</td>
		</table>
		</div>
		<table id="teams" class="table table-hover tablesorter-green">
		<thead><tr><th>Number</th><th>Name</th><th>Rating</th><th>Country Code</th></tr></thead>
		<tbody>
		# for team in teams
			<tr>
			<td><span class="teamid">{{ team.id }}</span></td>
			<td>{{ team.name }}</td>
			<td class="input"><input value="100" title="Custom Rating" class="custom" data-score_type="{{ custom_score_rule['score_type'] }}">
			<td>{{ team.country_code }}<img style="border:1px solid black;float:right;" src="{{ url_for('static', filename='img/flags/'~team.country_code~'.png') }}"></td>
			</tr>
		# endfor
		</tbody>
		</table>
	</div>
	</div>
# endblock