# extends "base_layout.html"
# block head
{{ super() }}
<script language="javascript">
$(document).ready(
	function() 
    { 

    } 
);
</script>
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
# endblock

# block contents
      <div class="starter-template">
        <h1>World Cup Simulator</h1>
		
		<div class="infotext">
		This is a probabilistic simulator for the upcoming soccer World Cup. It applies different rules to rate the strength of the teams and to calculate a team's chance to win in a match.<br>
		Repeating the simulation of the tournament multiple times results in a probability distribution, that shows how likely a team is to advance to the finals.
		</div>

		<div class="big-con">
			<div class="bg-con">
				<div class="bg-img">
				<img src="{{ url_for('static', filename='img/MainPageBG.jpg') }}">
				</div>
				
				<div class="right-con">
					
					<div class="right-side">
						<div class="right-text">
							<div class="infotext">
							<h3>What to do?</h3>
							 After clicking the <i>Play World Cup</i> button below, do the following:<br><br>
							<dl class="dl">
								<dt>Select Rules</dt>
								<dd>Select weights for the rules (or use the default values).<br>
								The rule weights determine how much your simulation will be influenced by the different rating methods.</dd>
								<dt>Start the tournament</dt>
								<dd>Click the <i>Start Tournament</i> button and {{ run_count_max }} simulations of the World Cup will be run. The probability of winning will be computed for every team.</dd>
							</dl>
							</div>
						</div>
						<div class="btn-pos">
							<a href={{ url_for("simple_new_tournament_view") }}>
							<span class="btn-go btn btn-lg btn-primary">
							<h1>Play World Cup</h1>
							</span></a>
						</div>
					</div>
					

				</div>
				
			</div>
		</div>
		
		<div class="infotext">
		This World Cup simulator was developed at Freie&nbsp;Universit&auml;t&nbsp;Berlin in the Artificial&nbsp;Intelligence&nbsp;Group.
		</div>
      </div>
# endblock

# block footer  
	<footer id="footer">
	<div class="container">
	
	<div class="row">
	<div class="col-xs-4">
	<a href="/impressum">Impressum</a></div>
	</div>
	</div>
	</footer>
# endblock