# extends "base_layout.html"
# block head
{{ super() }}
<script lang="javascript">
$(document).ready(
	function() 
    { 
        $("#teamstable").tablesorter(); 
		$("#nav_teams").toggleClass("active");
    } 
);
</script>
# endblock

# block contents
<h2>Teams<br><small>These are the teams participating in the FIFA World Cup 2014 and their different ratings.</small></h2>
<table id="teamstable" class="tablesorter-green">
<thead><tr>
<th>Flag</th><th>Team</th>
# for score in scores
	<th title="{{ score.desc }}">{{ score.name }}</th>
# endfor
</tr></thead>
<tbody>
# for team in teams
	<tr>
	<td><img style="border:1px solid black" src="{{ url_for('static', filename='img/flags/'~team.country_code~'.png') }}"></img></td><td>{{ team.name }}</td>
	# for score in team.scores
		<td>{{ score|int }}</td>
	# endfor
	</tr>
# endfor
</tbody>
</table>
<p class="small"><b>Acknowledgements for the ELO ratings</b> go to the <nobr><a href="http://www.eloratings.net/">World Football Elo Ratings web site</a></nobr> as well as <nobr><a href="http://www.world-results.net/">Advanced Satellite Consulting</a></nobr>.</p>
<p class="small"><b>Acknowledgements for the monetary team values</b> go to <nobr><a href="http://www.transfermarkt.co.uk/">transfermarkt.co.uk</a></nobr>.</p>
# endblock