# extends "tournament.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.jsPlumb-1.5.5-min.js') }}"></script>
<script lang="javascript">

$(document).ready(
	function() 
    {  
	
		fillBrackets({{ matches|safe }}, {{ team_lookup|safe }});
return;
		var best_of = [null, 8, 4, 2, 1];
		var elements = [null, [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4], [1, 2], [1]];
		for (var from = 1; from < elements.length-1; ++from)
		{
			// connect to next element
			var to = from + 1;
			for (var from_elem_index = 0; from_elem_index < elements[from].length; ++from_elem_index)
			{
				var to_elem_index = Math.floor(from_elem_index / 2);
				var from_id = "game_" + best_of[from] + "_" + elements[from][from_elem_index];
				var to_id = "game_" + best_of[to] + "_" + elements[to][to_elem_index];

				jsPlumb.connect({
					source: from_id,
					target: to_id,
					anchors:["Right", "Left"],
					endpoint:"Blank",
					connector: "Flowchart"
					});
			}
		}
		
    } 
);
$(window).resize(function(){
	return;
      jsPlumb.repaintEverything();
  });

jsPlumb.ready(function() {
    
});

function fillBrackets(json_data, team_lookup)
{
	// a fresh start!
	$(".all_games tbody").replaceWith("<tbody></tbody>");
	var table_body = $(".all_games tbody").first();
	
	var rounds = [16, 8, 4, 2, 1, 2, 4, 8, 16];
	var games_in_rounds = [
			[1, 2, 3, 4],
			[1, 2, 3, 4],
			[1, 2],
			[1],
			[1],
			[2],
			[3, 4],
			[5, 6, 7, 8],
			[5, 6, 7, 8]
		];
	var round_count = rounds.length;
	for (var round_index = 0; round_index < round_count; ++round_index)
	{
		var round = rounds[round_index];
		var games_count = games_in_rounds[round_index].length;
		var round_name = "round_" + round.toString();
		table_body.append(
			"<td><table class='round' name='" + round_name + "' id='round_index_" + round_index + "' style='z-index:-" + round + "'>" +
			"</table></td>");
		var round_table = table_body.find("#round_index_" + round_index).first();
		for (var game_index = 0; game_index < games_count; ++game_index)
		{
			var game = games_in_rounds[round_index][game_index];
			var name = "game_" + round.toString() + "_" + game.toString();
			round_table.append(
				"<table class='game' id='" + name + "'>" +
				"</table>");
			var game_table = round_table.find("#" + name).first();
			//console.log("Game: " + name);
			var match_data = json_data[name];
			
			var team_count = match_data.length;
			for (var team_index = 0; team_index < team_count; ++team_index)
			{
				var team = match_data[team_index];
				//if (team.chance == 0.0) continue;
				var team_data = team_lookup[team.team];
				game_table.append(
					"<tr>" +
					"<td><img class='flag' src='/static/img/flags/" + team_data.country_code + ".png'></img></td>" +
					"<td>" + team_data.name + "</td>" +
					"<td class='chance'>" + Math.floor(100 * team.chance + 0.5) + "%</td>" +
					"</tr>");
			}
		}
	}
/*	for (var match_name in json_data)
	{
		if (!json_data.hasOwnProperty(match_name)) continue;
		var data = json_data[match_name];
		var element_name = '#' + match_name;
		var element = $(element_name);
		if (!element) continue;
		element.find("th.head.left").html(team_lookup[data.teams[0]]);
		element.find("th.head.right").html(team_lookup[data.teams[1]]);
		
		element.find("td.left").html(data.goals[0].toFixed(2));
		element.find("td.right").html(data.goals[1].toFixed(2));
	}*/
}
</script>

<style>

.container {
	min-width: 81em;
}

.all_games {
	width: 100%;
}

.all_games > table > thead td {
	width: 9em;
	background-color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	font-variant: small-caps;
	font-weight: bold;
	border: 1px dashed black;
}
.all_games > table > tbody > td {
	border: 1px dashed black;
}

.round {
	margin-top: 2em;
	vertical-align: middle;
	text-align: left;
	position: relative;
	width: 100%;
}
.game {
	margin-bottom: 2em;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	font-size:0.75em;
	
	box-shadow: 0px 0px 20px #888888;
}

td.chance {
	text-align: right;
}

table[name='round_1'] tbody{
	background-color: #ffffee;
}

table[name='round_2'] tbody{
	background-color: #eeeeee;
}

table[name='round_4'] tbody{
	background-color: #ffeeee;
}

table[name='round_8'] tbody{
	background-color: #eeeeff;
}

table[name='round_16'] tbody{
	background-color: #eeffee;
}

.flag {
	border:1px solid black;
}

</style>
# endblock

# block contents
<h1>Results</h1>
<div class="all_games">
	<table>
	<thead>
	<tr><td>Group Phase</td><td>Round of Sixteen</td><td>Quarter Finals</td><td>Semi Finals</td><td>Finals</td><td>Semi Finals</td><td>Quarter Finals</td><td>Round of sixteen</td><td>Group Phase</td></tr>
	</thead>
	<tbody>
	<tr>
	## will be filled from JS
	</tr>
	</tbody></table>
</div>
<div>&nbsp;</div>
<br>
{{ super() }}
# endblock