# extends "base_layout.html"
# block head
{{ super() }}
<script lang="javascript">

$(document).ready(
	function() 
    {  
		$("#nav_tournament").toggleClass("active");
		$("#tournamenttable").tablesorter({
			textExtraction: function(node)
				{                    
					if ($(node).attr("sorter"))
						return $(node).attr("sorter"); 
					return $(node).text();
				},
			sortInitialOrder: 'desc',
			sortList: [[1, 1]]
		}); 
    } 
);
function viewDataForSpreadsheets(tournament_id, tournament_link)
{
	$("#spreadsheet_dialog").dialog(
		{
			resizable: true,
			height: 'auto',
			width: 'auto',
			modal: true,
			closeText: 'Close',
			bgiframe: true,
			closeOnEscape: true,
			open: function(event, ui) { },
			title: "Export the data to spreadsheet software",
			buttons: { Close: function() { $( this ).dialog( "close" ); }
			}
		});

	// figure out header row first..
	var headers = [];
	var text = "";
	$("#tournamenttable > thead .bar").each(
		function (index, item)
		{
			var name = $(item).html();
			headers.push("result_" + index.toString());
			text = text + name + "\t";
		}
	);
	text = "Teams\t" + text + "Avg. Goals\tIn Finals\t\n";

	$("#tournamenttable > tbody > tr").each(
		function (index, item)
		{
			text += $(item).find("[name='name']").html() + "\t";
			var len = headers.length;
			for (var i = 0; i < len; i++)
			{
				var bar = $(item).find("[name='" + headers[i] + "'] small");
				if (bar.length == 0)
					text +="0%\t";
				else
					text += bar.html() + "\t";
			}
			text += $(item).find("[name='avg_goals']").html() + "\t";
			text += $(item).find("[name='finals_perc']").html() + "\t";
			text += "\n"
		}
	);
	$("#spreadsheet_dialog textarea").val(text);
	$("#spreadsheet_dialog textarea").select();
}
</script>
<style>
.bar {
	text-align: right;
	padding:0px;
	height:2em;
	position: relative;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.barcontainer {
	width:100%;
	padding:0px;
	margin:0px;
	overflow: hidden;
	height: 100%;
}

{{ '#' }}tournamenttable td {
	padding: 0px;
	height: 2em;
	vertical-align:middle;
	text-align:center;
}

</style>
# endblock

# block contents
<div style="height:4em;width:100%;">
<h3 style="position:absolute;margin-left:0px;">The result distribution</h3>
<div style="width:100%" align="right"><span class="btn btn-default" onclick="javascript:viewDataForSpreadsheets()">data for spreadsheets</span></div>
<div id="spreadsheet_dialog" style="margin-left:auto;margin-right:auto;text-align:center;display:none;"><em>This can be copied and pasted into spreadsheet software:</em><br><textarea id="spreadsheet_text" rows="10" cols="50"></textarea></div>
</div>

<table id="tournamenttable" class="tablesorter-green">
<thead><tr>
<th>Team</th>
<th>
<div style="height:0em;width:100%;" align="center" id="resultdistribution">Distribution</div><br>
<small>
# for i in range(0, general.colors|length)
	<div class="bar" style="background-color:{{ general.colors[i] }};width:20%;">{{ general.result_names[i] }}{% if i < general.colors|length - 1 %} place{% endif %}</div>
# endfor
</small></th>
<th>Avg. Goals</th><th>In Finals</th>
</tr></thead>
<tbody>
# for team in teams
	<tr>
	<td name="name">{{ team.name }}</td>
	<td style="width:50%" sorter="{{ team.distribution_sorting_value }}">
	<div class="barcontainer">
	# for result in team.results
		# if result.percentage > 0.0
			<div name="result_{{ result.place }}" class="bar" style="width:{{ result.percentage }}%;background-color:{{ result.color }};">
			<small {% if result.place == general.colors|length - 1 %}style="display:none;"{% endif %}>{{ result.percentage ~ "%" }}</small>
			</div>
		# endif
	# endfor
	</div>
	</td>
	<td name="avg_goals">{{ team.general.average_goals|round(1) }}</td>
	<td name="finals_perc">{{ team.results[0].percentage + team.results[1].percentage }}%</td>
	</tr>
# endfor
</tbody>
</table>
# endblock