# extends "base_layout.html"
# block head
{{ super() }}
<script lang="javascript">

$(document).ready(
	function() 
    {  
		$("#nav_tournament").toggleClass("active");
		$("#tournamenttable").tablesorter({
			textExtraction: function(node)
				{                    
					if ($(node).attr("sorter"))
						return $(node).attr("sorter"); 
					return $(node).text();
				},
			sortInitialOrder: 'desc',
			sortList: [[1, 1]]
		}); 
    } 
);
</script>
<style>
.bar {
	text-align: right;
	padding:0px;
	height:2em;
	position: relative;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.barcontainer {
	width:100%;
	padding:0px;
	margin:0px;
	overflow: hidden;
	height: 100%;
}

{{ '#' }}tournamenttable td {
	padding: 0px;
	height: 2em;
	vertical-align:middle;
	text-align:center;
}

</style>
# endblock

# block contents
<div style="height:4em">
<h3 style="position:absolute;margin-left:0px;">The result distribution</h3>
</div>

<table id="tournamenttable" class="tablesorter-green">
<thead><tr>
<th>Team</th>
<th>
<div style="height:0em;width:100%;" align="center">Distribution</div><br>
<small>
# for i in range(0, general.colors|length)
	<div class="bar" style="background-color:{{ general.colors[i] }};width:20%;">
	{{ general.result_names[i] }}
	# if i < general.colors|length - 1
	place
	# endif
	</div>
# endfor
</small></th>
<th>Avg. Goals</th><th>In Finals</th>
</tr></thead>
<tbody>
# for team in teams
	<tr>
	<td>{{ team.name }}</td>
	<td style="width:50%" sorter="{{ team.distribution_sorting_value }}">
	<div class="barcontainer">
	# for result in team.results
		# if result.percentage > 0.0
			<div class="bar" style="width:{{ result.percentage }}%;background-color:{{ result.color }};"><small>
			# if result.place != general.colors|length - 1
				{{ result.percentage ~ "%" }}
			# endif
			</small></div>
		# endif
	# endfor
	</div>
	</td>
	<td>{{ team.general.average_goals|round(1) }}</td>
	<td>{{ team.results[0].percentage + team.results[1].percentage }}%</td>
	</tr>
# endfor
</tbody>
</table>
# endblock