# extends "base_layout.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='tournament.js') }}"></script> 
# endblock

# block contents
<div style="height:4em;width:100%;">
<h3 style="position:absolute;margin-left:0px;">The result distribution</h3>
<div style="width:100%" align="right"><span class="btn btn-default" onclick="javascript:viewDataForSpreadsheets()">data for spreadsheets</span></div>
</div>
<div id="spreadsheet_dialog" style="margin-left:auto;margin-right:auto;text-align:center;display:none;"><em>This can be copied and pasted into spreadsheet software:</em><br><textarea id="spreadsheet_text" rows="20" cols="60"></textarea></div>

<table id="tournamenttable" class="tablesorter-green">
<thead><tr>
<th>Team</th>
<th>
<div style="height:0em;width:100%;" align="center" id="resultdistribution">Distribution</div><br>
<small>
# for i in range(0, general.colors|length)
	<div class="bar" style="background-color:{{ general.colors[i] }};width:20%;">{{ general.result_names[i] }}{% if i < general.colors|length - 1 %} place{% endif %}</div>
# endfor
</small></th>
<th>Avg. Goals</th><th>In Finals</th>
</tr></thead>
<tbody>
# for team in teams
	<tr>
	<td name="name">{{ team.name }}</td>
	<td style="width:50%" sorter="{{ team.distribution_sorting_value }}">
	<div class="barcontainer">
	# for result in team.results
		# if result.percentage > 0.0
			<div name="result_{{ result.place }}" class="bar" style="width:{{ result.percentage }}%;background-color:{{ result.color }};">
			<small {% if result.place == general.colors|length - 1 %}style="display:none;"{% endif %}>{{ result.percentage ~ "%" }}</small>
			</div>
		# endif
	# endfor
	</div>
	</td>
	<td name="avg_goals">{{ team.general.average_goals|round(1) }}</td>
	<td name="finals_perc">{{ team.results[0].percentage + team.results[1].percentage }}%</td>
	</tr>
# endfor
</tbody>
</table>
# endblock