# extends "base_layout.html"
# block head
{{ super() }}
<script lang="javascript">

$(document).ready(
	function() 
    {  
		$("#nav_tournaments").toggleClass("active");
		correctRuleInfo();
    } 
);

function correctRuleInfo()
{
	$(".rule_info").each(
		function (index, item)
		{
			var rule_info = JSON.parse($(item).html());
			var rules = [];
			for (rule in rule_info)
			{
				var weight = rule_info[rule];
				var rule_object = {name: rule, weight: weight};
				console.log(rule + ": " + weight.toString());
				var rule_length = rules.length;
				for (var i = 0; i < rule_length; ++i)
				{
					if (rules[i].weight > weight) continue;
					rules.splice(i, 0, rule_object);
					break;
				}
				if (i == rule_length)
					rules.push(rule_object);
			}
			
			var text = "";
			var rule_count = rules.length;
			for (var i = 0; i < rule_count; ++i)
			{
				text = text + "<span class='ruleweight'>" + rules[i].name + ": " + rules[i].weight.toString() + "</span> ";
			}
			$(item).html(text);
		}
	);
}
</script>

<style>
.ruleweight {
	border-radius: 5px;
	padding: 0.25em 10px 0.25em 10px;
	margin: 0px 10px 0px 10px;
	background-color: #eeeeee;
	font-variant: small-caps;
	white-space: nowrap;
}
</style>
# endblock

# block contents
# if tournaments|length > 0
	<h2>Your tournaments<br><small>These are your previously simulated tournaments.</small></h2>
	<table id="tournamentstable" class="tablesorter-green">
	<thead><tr>
	<th>Name</th><th>Active Rules</th><th>State</th>
	</tr></thead>
	<tbody>
	# for tournament in tournaments
		<tr>
		<td>
			<a href="{{ url_for('tournament_view', id=tournament.id) }}">{{ tournament.name }}</a>
		</td>
		<td class="rule_info">{{ tournament.rules }}</td>
		<td>{{ tournament.state }}</td>
		</tr>
	# endfor
	</tbody>
	</table>
# else
	<div class="text-center" style="width:100%;padding-top:20%;">
	You did not simulate any tournaments yet!<br>
	<strong><a href="{{ url_for('simple_new_tournament_view') }}">Try it!</a></strong>
	</div>
# endif
# endblock