# extends "tournament.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='tournament_fifa.js') }}"></script> 
<script type="text/javascript">
$(document).ready(
	function() 
    {  
		fillBrackets({{ matches|safe }}, {{ team_lookup|safe }});		
    } 
);
</script>
<style>

.container {
	min-width: 81em;
}

.all_games {
	width: 100%;
}

.table_header {
	width: 9em;
	background-color: #eeeeee;
	text-align: center;
	vertical-align: middle;
	font-variant: small-caps;
	font-weight: bold;
	border: 1px dashed black;
}
.all_games > table > tbody > td {
	border: 1px dashed black;
}

.round {
	margin-top: 2em;
	vertical-align: middle;
	text-align: left;
	position: relative;
	width: 100%;
}
.game {
	margin-bottom: 2em;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	font-size:0.75em;
	
	box-shadow: 0px 0px 20px #888888;
}

.highlighted {
	background-color: #aaaaaa;
	box-shadow: 0px 0px 5px #111111;
}

td.chance {
	text-align: right;
}

table[name='round_1'] tbody{
	background-color: #ffffee;
}

table[name='round_2'] tbody{
	background-color: #eeeeee;
}

table[name='round_4'] tbody{
	background-color: #ffeeee;
}

table[name='round_8'] tbody{
	background-color: #eeeeff;
}

table[name='round_16'] tbody{
	background-color: #eeffee;
}

.flag {
	border:1px solid black;
}

{{ '#' }}column_4 {
	//background-color: #eeeedd;
	//position:relative;
	//border: 1px dashed black;
}

</style>
# endblock

# block contents
<h1>Results</h1>
<div class="all_games">
	<table>
	<thead>
	<tr>
	<td class="table_header">Group Phase</td>
	<td class="table_header">Round of Sixteen</td>
	<td class="table_header">Quarter Finals</td>
	<td class="table_header">Semi Finals</td>
	<td class="table_header">Finals</td>
	<td class="table_header">Semi Finals</td>
	<td class="table_header">Quarter Finals</td>
	<td class="table_header">Round of sixteen</td>
	<td class="table_header">Group Phase</td>
	</tr>
	</thead>
	<tbody>
	<tr>
	## will be filled from JS
	</tr>
	</tbody></table>
</div>
<div>&nbsp;</div>
<br>
{{ super() }}
# endblock