# extends "base_layout.html"
# block head
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='tournaments.js') }}"></script> 

<style>
.ruleweight {
	border-radius: 5px;
	padding: 0.25em 10px 0.25em 10px;
	margin: 0px 10px 0px 10px;
	background-color: #eeeeee;
	font-variant: small-caps;
	white-space: nowrap;
}
</style>
# endblock

# block contents
# if tournaments|length > 0
	<h2>Your tournaments<br><small>These are your previously simulated tournaments.</small></h2>
	<table id="tournamentstable" class="tablesorter-green">
	<thead><tr>
	<th>Tournament Page</th><th>Date/Time</th><th>Active Rules</th><th>State</th>
	</tr></thead>
	<tbody>
	# for tournament in tournaments
		<tr>
		<td>
			<a href="{{ url_for('tournament_view', id=tournament.id) }}">Go to {{ tournament.name }} Simulation</a>
		</td>
		<td class="timestamp">{{ tournament.time }}</td>
		<td class="rule_info">{{ tournament.rules }}</td>
		<td>{{ tournament.state }}</td>
		</tr>
	# endfor
	</tbody>
	</table>
# else
	<div class="text-center" style="width:100%;padding-top:20%;">
	You did not simulate any tournaments yet!<br>
	<strong><a href="{{ url_for('simple_new_tournament_view') }}">Try it!</a></strong>
	</div>
# endif
# endblock