html {
	height: 100%;
}

body {
	min-width: 10em;
	height: 100%;
}

#main_head {
	min-height: 90px;
	padding-top: 9px;
}
#fulogo {
	padding-left: 20px;
	padding-bottom: 12px;
}

#main_container {
	min-height: 100%;
	margin-bottom: 3.5em;
}

#footer
{
	margin-top: -3em;
	height: 3em;
	background-color: #f0f0f0;
	margin: 0px;
}
#footer .container {
	height: 100%;
}
#footer .row {
	height: 100%;
}

#footer .row > div {
	height: 100%;
	padding-top: 1em;
}

#footer a {
	color: grey;
	text-decoration: none;
}

#footer a:hover {
	color: black;
}

.btn-pos
{
	width: 100%;
	padding-left: 2em;
	padding-right: 2em;	
}
.btn-go
{
	width: 100%;
}

/* graphs */

.graphs
{
	margin-top: 2em;
}

.graph
{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.graph h1
{
	position:absolute;
	left:0;
	right:0;
}

.graph canvas {
	display: inline;
}

.infotext {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em;
}

#graph_legend {
display: table;
width: 100%;
list-style: none;
padding:0px;
}
#graph_legend li {
display: table-cell;
text-align: center;
}
#graph_legend li a {
display: block;
}
