body {
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 800px;
}

.small {
	font-size:0.75em;
}

.selbox {
	display: table-cell;
	background-color:#fdfdfd;
	box-shadow: 0px 0px 20px #888888;
	
	padding-top: 2em;
	padding-bottom: 2em;
}


.selbox-con {
	margin-top: 25px;
	margin-left: -3em;
}

.selbox h1,h2,h3,h4 {
	margin-top: 0px;
}

.selbox-con .headtab {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	min-width: 3em;
	max-width: 3em;
	width: 3em;
	background-color: darkgrey;
}
.selbox-con .headtab span {

	display: block;
	font-variant: small-caps;
	color: #ffffff;
	font-weight: bold;
	font-size: 2em;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.5); */
	-ms-transform:rotate(-90deg);   
}

.selbox-con-ok .headtab {
	background-color: green;
}

.selbox-info {
	
}

.selbox-ok {
	pointer-events: none;
	background-color: #fbfffb;
}



.ui-effects-transfer { border: 2px dotted gray; }

.ui-progressbar-value {
	background-color: #cceecc;
}

/* For the create custom tournament page */
.type-button {
	width: 100%;
	min-width: 30em;
}
.type-buttonimage {
	width: 64px;
	float: left;
}
.type-buttontext {
	padding-left: 64px;
}

/* create_simple */

.rule_row {
	border-top: 2px solid grey;
}
div.ruletitle {
	margin:0px;
	margin-left:70px;
	margin-top:-5px;
}

td.ruletitle {
	width:25em;
}

.background {
	height:55px;
	position:absolute;
	margin-top:-16px;
	margin-left:-10px;
	padding-left:0px;
}

td.input {
	text-align:left;
	vertical-align:middle;
}

#choose_teams td,#choose_teams tr
{
	vertical-align:middle;
	padding:0px;
	padding-left:1em;
	padding-right:1em;
}

/* tournament */

.bar {
	text-align: right;
	padding:0px;
	height:2em;
	position: relative;
	display: inline-block;
	float: left;
	overflow: hidden;
}
.barcontainer {
	width:100%;
	padding:0px;
	margin:0px;
	overflow: hidden;
	height: 100%;
}

#tournamenttable td {
	padding: 0px;
	height: 2em;
	vertical-align:middle;
	text-align:center;
}
